[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "werpy"
version = "0.0.7"
authors = [
  { name="Ross Armstrong", email="ross.armstrong@analyticsinmotion.com" },
]
description = "A powerful yet lightweight Python package to calculate and analyze the Word Error Rate (WER)."
readme = "README.md"
license = "BSD-3-Clause"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
]

keywords = [
    "wer",
    "word error rate",
    "python",
    "python package",
    "stt",
    "speech to text",
    "levenshtein distance",
    "nlp"
]

dependencies = [
  "numpy>=1.21.6; python_version<'3.11'",
  "numpy>=1.23.2; python_version>='3.11'",
  "pandas>=1.3.0"
]


[project.urls]
"Homepage" = "https://github.com/analyticsinmotion/werpy"
"Bug Tracker" = "https://github.com/analyticsinmotion/werpy/issues"
